<h2><%= @article.title%></h2>
<p><%= @article.content%></p>

<%= link_to '~ Update', edit_article_path(@article), class: 'link' %>
<br>
<%= link_to '- Delete',
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: 'link' %>
<br>
<%= link_to '< Back to articles', articles_path, class: 'link' %>
